<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!-- Processes to watch, file names without extension, separated by semicolon -->
    <add key="ProcessNames" value="FIRSTPROCESSNAME;SECONDPROCESSNAME"/>
    
    <!-- How often the service timer runs, in milliseconds -->
    <add key="CheckTimerInterval" value="60000"/>
    
    <!-- How long can the process run before being killed, in milliseconds -->
    <add key="KillAfter" value="1200000"/> 
  </appSettings>
</configuration>
